<div class="body">
  <!-- <mat-grid-list cols="2" rowHeight="1:1" class="mat-typography"> -->

  <!-- left-side -->
  <div class="container-fluid">
    <div class="row">
      <div class="leftcard col-6">
        <div class="VVDN-Mentor-Mentee-Management-System">
          <span class="text-style-1">VVDN</span>
          <span class="text-style-2"></span>
          Mentor Mentee Management System
        </div>
        <img src="/assets/shadow.png" alt="" class="leftpic ">
      </div>
      <!-- right side  -->
      <!-- <mat-grid-tile> -->
      <div class="col-6">
        <mat-card class="example-card">

          <form autocomplete="off" [formGroup]="resetPasswordForm"  ng-hide="myForm.$submitted"
            ng-submit="submit()">



            <div class="row" *ngIf="showMsg">
              <div class="col-xs-12">
                <p class="alert alert-success">
                  <strong>Form submitted successfully!</strong> Please click here to login!.
                </p>
              </div>
            </div>



            <img mat-card-image src="/assets/vvdnlogo.png" alt="" class="logo">
            <mat-card-content class="login">
              <span class="VVDN-Mentor-Mentee-Management-System-1">
                <span class="text-style-1">
                  <h1 class="loginn">Reset Password</h1>
                </span>
              </span>
              <div class="example-container">
                 <p> {{errorMessage}}</p> 
              </div>
              <!-- newPassword-field -->
              <!-- right-side -->




              <!-- NEW PASSWORD -->
              <div class="example-container">
                <p>
                  <mat-form-field appearance="legacy">
                    <img src="/assets/lock.png" alt="" class="icon_name">
                    <mat-label> Password</mat-label>
                    <input matInput [type]="hidenewPassword ? 'password' : 'text'" formControlName="newPassword">
                    <mat-error
                      *ngIf="formControl.newPassword.invalid &&(formControl.newPassword.dirty || formControl.newPassword.touched)"
                      class="form-text text-danger">
                      <div *ngIf="newPassword.errors?.['required']">
                        Field is required
                      </div>
                      <div *ngIf="newPassword.errors?.['pattern']">
                        Password must contain  minimum 8 character,capital,lower,numeric,special character.
                      </div>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hidenewPassword = !hidenewPassword" [attr.aria-label]="'HidenewPassword'"
                      [attr.aria-pressed]="hidenewPassword">
                      <mat-icon>{{hidenewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>



                <!-- [ confirmPassword-field] -->
                <p>
                  <mat-form-field appearance="legacy">
                    <img src="/assets/lock.png" alt="" class="icon_name">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
                    <mat-error
                      *ngIf="formControl.confirmPassword.invalid && (formControl.confirmPassword.dirty ||formControl.confirmPassword.touched)">
                      <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                        Password did not matched
                      </div>
                      {{getErroessagePassword()}}
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                      [attr.aria-label]="'HideConfirmPassword'" [attr.aria-pressed]="hideConfirmPassword">
                      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>

                <!-- button-field -->
                <div class="example-button-row mt-4">
                  <button [disabled]="resetPasswordForm.invalid" (click)="onSubmit()"  class="sign_btn">Reset</button><br>
                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
      
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>
  
</div>