<div class="body">
  <!-- <mat-grid-list cols="2" rowHeight="1:1" class="mat-typography"> -->

  <!-- left-side -->
  <div class="container-fluid">
    <div class="row">
      <div class="leftcard col-6">
        <div class="VVDN-Mentor-Mentee-Management-System">
          <span class="text-style-1">VVDN</span>
          <span class="text-style-2"></span>
          Mentor Mentee Management System
        </div>
        <img src="/assets/shadow.png" alt="" class="leftpic ">
      </div>
      <!-- right side  -->
      <!-- <mat-grid-tile> -->
      <div class="col-6">
        <mat-card class="example-card">
          <form autocomplete="off" [formGroup]="forgotForm" (ngSubmit)="forgotUser()">
            <img mat-card-image src="/assets/vvdnlogo.png" alt="" class="logo">
            <mat-card-content class="login">
              <span class="VVDN-Mentor-Mentee-Management-System-1">
                <span class="text-style-1">
                  <h1 class="forgot">Forgot Password</h1>
                </span>
                <p class="message">Please enter the Email ID associated with your account.</p>

              </span>
              <div class="example-container">
                <!-- <p> {{errorMessage}}</p> -->
              </div>
              <!-- email-field -->
              <div class="example-container">
                <mat-form-field floatLabel='never'>
                  <img src="/assets/email.png" alt="" class="icon_email">
                  <input matInput placeholder="Email"  [ngClass]="{'is-invalid':submitted && forgotForm.controls.email.errors}" formControlName="email" required id="email">
                  <mat-error>
                    <div *ngIf="formControl.email.invalid &&
(formControl.email.dirty || formControl.email.touched) " class="form-text text-danger">
                      <div *ngIf="formControl.email.errors?.['required']">
                        Must Enter email
                      </div>
                      <div *ngIf="formControl.email.errors?.['pattern']">
                        Invalid email
                      </div>
                    </div>
                  </mat-error>
                </mat-form-field>




                <!-- button-field -->
                <div class="example-button-row mt-4">
                  <button  class="send_btn">Send</button><br>
                  <p class="bottom">Back to <a class="loginn" routerLink="/login">Login</a></p>

                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
      </div>
    </div>
    <!-- </mat-grid-tile> -->
    
    <!-- </mat-grid-list> -->
  </div>
  <router-outlet></router-outlet>
</div>
