<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="form" style="margin-top: 10px;">
    <i class="fa fa-search"></i>
    <input type="text" class="form-control form-input" placeholder="Search ..." [(ngModel)]="searchText">

</div>

<div class="row">
    <div class="rectangle-Mentees-Data" *ngFor="let data of mentorData?.data|filter:searchText">
        <!-- <div class="profile-Image"> -->
            <!-- <img src="{{data.profileImage}}" alt="profile" class="profile"> <span> -->
                <img src="assets/sid.jpeg" alt="profile" class="profile"> <span>
                <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="icon">
                    <i class="bi bi-three-dots-vertical">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </i>
                </button>
                <mat-menu #menu="matMenu">
                    <button class="menubutton" (click)="openDialog(data)">
                        <i class="bi bi-pencil-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                        <span style="margin: 10px;">Edit</span>
                    </button>

                    <button class="menubutton" (click)="deleteEmployeeDetails(data)">
                        <i class="bi bi-trash3-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                        <span style="margin: 10px;" >Delete</span>
                    </button>
                </mat-menu>
            </span>
        <!-- </div> -->
        <div class="mentee-name">
            <a (click)="viewProfile(data)" style="text-decoration:none ; color: black;" 
            #hoverName
            (mouseenter)="onMouseEnter(hoverName)"
            (mouseleave)="onMouseOut(hoverName)">{{data.employeeName|titlecase}}</a>
        </div>
        <div class="position">{{data.techGroup}}</div>
        <div class="rectangle-Location">
            <span class="AssignMentee"> Assigned Trainees -{{data.assignedMentees}}</span>
        </div>
        <div class="Rectangle-2518">
            <span class="BU">
                BU
            </span>
            <span class="Location1">
                Location
            </span>
            <span class="Cloud-and-Mobile">
                Cloud-and-Mobile
            </span>
            <span class="mentorLocation">
                {{data.location|titlecase}}
            </span>

            <span class="mentorEmail">
                {{data.email|titlecase}}
            </span>

        </div>
    </div>
</div>